<div id="about">

<div class="container">

   <div class="row">
      <div class="about-col-1">
  <img src="images/standingphoto.jpg" alt="">
      </div>
      <div class="about-col-2">
      <h1 class="sub-title">About Me</h1>
      <p> Motivated B.Tech. E&TC student at SPIT, Mumbai with strong skills in frontend development and UI/UX design. Achieved 98.89%ile in
         MHT-CET & 94.38%ile in JEE 2023. Seeking internship to apply technical and creative skills to real-world projects.</p>
         <div class="tab-titles">

   <p class="tab-links active-link"  onclick="opentab('skills')">Skills</p>
   <p class="tab-links" onclick="opentab('experience')">Experience</p>
   <p class="tab-links"  onclick="opentab('education')">Education</p>
</div>
<div class="tab-contents active-tab" id="skills" >     
<ul>
<li><span>UI/UX</span><br>Designing Web/App interface</li>
<li><span>Web Developement</span><br> WebApp Devevlopement</li>
<li><span>App developement</span><br>Building Android/iOS apps</li>
</ul>


</div>
<div class="tab-contents" id="experience">
   <ul>
   <li><span>Events & Leadership
</span><br>Events Head – SPIT Core Team (2024–25)</li>
   <li><span>Achievements
</span><br> 3rd Prize – Web Dev & PCB Design Competitions</li>
   
   </ul>
   
   
   </div>
   <div class="tab-contents"   id="education">
      <ul>
      <li><span>B.Tech – E&TC Engineering
</span><br>SPIT, Mumbai (2023–2027) | CGPA: 8.15</li>
      <li><span>HSC – Science Stream
</span><br> Chhatrapati Shahu Vidyalaya, Kolhapur | 78%</li>
      
      </ul>
      
      
      </div>

         </div>
      </div>
   </div>
</div>