<div id="portfolio">
   <div class="container">
      <h1 class="sub-title">My Work</h1>
      <div class="work-list">
         <div class="work">
            <img src="images/weatherapp.png" alt="weatherappimg">
            <div class="layer">
               <h3>City WeatherApp </h3>
               <p style="text-align: left; margin: 0; padding: 0;"> A responsive weather web application built using HTML, CSS, JavaScript, and Express.js. Integrated the OpenWeatherMap API to fetch real-time weather data based on user input. Designed with a clean UI for seamless user experience across devices. The app handles dynamic content rendering and is deployed on a cloud platform for public access.</p>
               
               <a href="#"><i class="fa-solid fa-up-right-from-square"></i></a>
            </div>
         </div>
         <div class="work">
            <img src="images/to-do.png" alt="">
             <div class="layer">
               <h3>To-Do-List</h3>
               <p style="text-align: left; margin: 0; padding: 0;"> A dynamic to-do list application built using HTML, CSS, and JavaScript, enabling users to add, delete, and manage daily tasks efficiently. Features include interactive UI, real-time task updates, and smooth transitions. Designed with a minimal and responsive layout to ensure usability across all devices.</p>
               
               <a href="#"><i class="fa-solid fa-up-right-from-square"></i></a>
            </div>

         </div>
         <div class="work">
            <img src="images/pcurrency.png" alt="">
             <div class="layer">
               <h3>Currency Converter App</h3>
               <p style="text-align: left; margin: 0; padding: 0;">A responsive web application that allows users to convert currencies in real-time using a public exchange rate API. Built with HTML, CSS, and JavaScript, the app includes dynamic country flag display, user-friendly input selection, and an intuitive, mobile-friendly interface.</p>
               
               <a href="#"><i class="fa-solid fa-up-right-from-square"></i></a>
            </div>
         </div>
      </div>
      <a href="#" class="btn">See more</a>
   </div>
</div>