<div id="services">
<div class="container">
   <h1 class="sub-title">My services</h1>
   <div class="services-list">


      <div>
         <i class="fa-solid fa-code"></i>
         <h2>Web design</h2>
         <p> I design responsive and user-friendly websites using HTML, CSS, JavaScript, and React.js. My focus is on clean layouts, fast loading, and optimized performance for all screen sizes.</p>
         <a href="#">learn more</a>
      </div>
       <div>
         <i class="fa-solid fa-crop-simple"></i>
         <h2>UI/UX</h2>
         <p>I create intuitive and visually engaging interfaces with a user-first approach. From wireframing to high-fidelity prototyping in Figma, I ensure smooth, accessible, and modern user experiences.</p>
         <a href="#">learn more</a>
      </div>
       <div>
         <i class="fa-brands fa-app-store"></i>
         <h2>App Design design</h2>
         <p> I specialize in building mobile-friendly designs and functional UI flows for Android/iOS apps. My work emphasizes clarity, minimalism, and seamless interaction between design and development.</p>
         <a href="#">learn more</a>
      </div>

   </div>
</div>


</div>